header, nav, section, article, footer
{border:1px solid grey; margin:5px; padding:8px;}
nav ul {margin:0; padding:0;}
nav ul li {display:inline; margin:5px;}
body {font-family: sans-serif; font-size: 16px}
table {font-size: inherit;}

